In [2]:
course = "Developer"

In [3]:
print(len(course)) 
print(course[-1])  
print(course[0:3]) 
print(course[0:])  
print(course[:3])  
print(course[:])

9
r
Dev
Developer
Dev
Developer

In [4]:
print(course[4:0:-1])

leve

In [5]:
course_2 = "Data Sceince"
print(course_2[-7:-11:-1])

S at

In [6]:
course_2[1:3:6]

'a'

In [10]:
course_3 = "python for \"beginner"
print(course_3)


course_4 = "python \"for \" begi\"nner"      
print(course_4)


course_5 = "python \'for beginner"
print(course_5)


course_6 = "python \\for beginner"
print(course_6)


course_7 = "python \n for beginner"
print(course_7)

python for "beginner
python "for " begi"nner
python 'for beginner
python \for beginner
python
 for beginner

In [11]:
first = "Ayeshkant"
second = "Lenka"
Name = first +" "+second
print(Name)

Ayeshkant Lenka

In [12]:
first = "Ayeshkant"
second = "Lenka"
Name =f"{first} {second}"
print(Name)

Ayeshkant Lenka

In [13]:
first = "Ayeshkant"
second = "Lenka"
Name = f"{len(first)} {len(second)}"
print(Name)

9 5

In [14]:
first = "Ayeshkant"
second = "Lenka"
print(f"{first} {second}")

Ayeshkant Lenka

In [16]:
My_Name= "Ayeshkant Lenka"

In [17]:
print(My_Name.lower())

ayeshkant lenka

In [18]:
print(My_Name.upper())

AYESHKANT LENKA

In [19]:
print(My_Name.title())

Ayeshkant Lenka

In [21]:
print(My_Name.find("Aye"))

0

In [22]:
print(My_Name.find("Len"))

10

In [23]:
print(My_Name.replace("Lenka"," "))

Ayeshkant

In [26]:
print("Aye" in My_Name)

True

In [27]:
print("len" not in My_Name)

True

In [28]:
print(My_Name.isalnum())

False

In [29]:
print(My_Name.isdigit())

False

In [30]:
print(My_Name.count('e'))

2

In [31]:
print(My_Name.endswith('a'))

True

In [32]:
print(My_Name.endswith('j'))

False

In [33]:
print(5+3)
print(5-3)
print(5*3)
print(5/3)
print(5//3)
print(5%3)
print(5**3)

8
2
15
1.6666666666666667
1
2
125

In [36]:
print(round(3.2))
print(round(6.2))
print(round(3.1))
print(round(10.9))
print(round(4.5))
print(round(5.5))

print(" ")

print(abs(-2.9))
print(abs(-10.9))
print(abs(-6.90))
print(abs(-4.5))
print(abs(-4.7))
print(abs(-5.5))

3
6
3
11
4
6

2.9
10.9
6.9
4.5
4.7
5.5

In [35]:
import math  
print(math.ceil(1.2))

2

In [39]:
print(math.factorial(2))
print(math.factorial(3))
print(math.factorial(4))
print(math.factorial(5))
print(math.factorial(6))

2
6
24
120
720